body
{
    margin: 0;
    padding: 0;
    background-color:#547a8bba;
    font-family: 'Arial';
}
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
opacity: 0.8;
}
h2{
text-align: center;
color: yellow;
padding: 20px;
}

